*{
  box-sizing: border-box;
}

body{
  background-color: #000;
}

.todo {
  background: #222222;
  max-width: 390px;
  border-radius: 30px;
  padding: 12px 20px;
  height: 844px;
}

.todo__top{
  margin: 0 16px 10px 16px;
}

.title {
  color: #F4F4F4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 26px;
}

.title__name {
  margin: 0;
}

.title__settings {
  font-size: 30px !important;
  cursor: pointer;
}

.todayTasks {
  color: #F4F4F4;

  span:first-child {
    font-size: 24px;

    svg{
      color: white;
      width: 23px;
      height: 23px;
    }
  }

  span:last-child {
    font-size: 24px;
  }
}

.settings{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.settings__block{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings__block-line{
  width: 5px;
  height: 40px;
  border-radius: 3px;
  margin-right: 14px;
}

.settings__block-text{
  margin-right: 0;
  h3{
    color: #F4F4F4;
    font-size: 24px;
    margin: 0;
  }
  p{
    color: rgba(255, 255, 255, 0.6);
    margin: 0;
    font-size: 14px;
  }
}

.settings__block-switch{
  margin-left: auto;
}

.accordion{
  overflow-y: auto;
  height: 727px;
}

.hide-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  &::-webkit-scrollbar {
    width: 1px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

.accordion__item{
  margin-bottom: 32px;
  color: #F4F4F4 !important;
  background-color: transparent !important;
  box-shadow: 16px 16px 20px rgba(0, 0, 0, 0.15), -8px -8px 20px rgba(255, 255, 255, 0.05) !important;
  > div{
    background-color: #282828;
  }
  > .Mui-expanded{
    border-radius: 40px 40px 0 0 !important;
  }
  > div:first-child{
    border-radius: 40px;
    font-size: 24px;
    font-weight: 600;

    > div:last-child{
      background-color: #F4F4F4;
      border-radius: 50%;
      color: #000;
      box-shadow: none;
    }
  }
  > div:last-child{
    border-radius: 0 0 40px 40px;
  }
}

.accordionTitle{
  display: flex;
  justify-content: space-between;
}

.accordionTitle__line{
  width: 5px;
  height: 40px;
  background: #A9A9A9;
  border-radius: 3px;
  margin-right: 14px;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root{
  box-shadow: none !important;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root:before{
  display: none;
}